<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="PowerShell Cmdlets for Team Foundation Server (TfsCmdlets)"
    Language="1033"
    Version="1.0.0.0"
    Manufacturer="Igor Abade V. Leite (T-Shooter)"
    UpgradeCode="66e39e8c-5e29-47ca-b2c0-142978831346">

    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" />
    <Icon Id="ProductIcon" SourceFile="$(var.TShooter.TfsCmdlets.ProjectDir)\TfsCmdletsShell.ico"/>

    <!-- UI Settings -->

    <UIRef Id="WixUI_InstallDir"/>

    <!-- Properties -->

    <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="COMPANYNAME" Value="T-Shooter" />
    <Property Id="ShortProductName" Value="TfsCmdlets" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />

    <!-- Directories -->

    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="COMPANYFOLDER" Name="!(bind.property.COMPANYNAME)">
          <Directory Id="APPLICATIONFOLDER" Name="!(bind.property.ShortProductName)">
            <Directory Id="ModulesFolder" Name="Modules">
              <Directory Id="ModuleFolder" Name="!(bind.property.ShortProductName)">
                <Directory Id="FunctionsFolder" Name="Functions" />
              </Directory>
            </Directory>
          </Directory>
          <Directory Id="ProgramMenuFolder">
            <Directory Id="ShortcutsFolder" Name="!(bind.property.ProductName)"/>
          </Directory>
        </Directory>
      </Directory>
    </Directory>

    <!-- Components -->

    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="ShellFiles" Guid="{CC97272C-1234-46A5-AB61-5A4588C8D924}">
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\Startup.ps1" Name="Startup.ps1" KeyPath="yes" />
        <Environment Id="Env_ModulePath" Action="set" Name="PSModulePath" Part="last" Separator=";" System="yes" Permanent="yes" Value="[ModulesFolder]"/>
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\TfsCmdletsShell.ico" Name="TfsCmdletsShell.ico" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ModuleFolder">
      <Component Id="PowerShellModule" Guid="{CC97272C-92F7-46A5-AB61-5A4588C8D924}">
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\TfsCmdlets.psd1" Name="TfsCmdlets.psd1" KeyPath="yes" />
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\TfsCmdlets.psm1" Name="TfsCmdlets.psm1" />
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\TfsCmdlets.Format.ps1xml" Name="TfsCmdlets.Format.ps1xml" />
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\TfsCmdlets.Types.ps1xml" Name="TfsCmdlets.Types.ps1xml" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="FunctionsFolder">
      <Component Id="NestedModules" Guid="{C744D308-0B12-4ADD-8F25-475E4420787E}">
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\Functions\Build.psm1" Name="Build.psm1" />
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\Functions\Collection.psm1" Name="Collection.psm1" />
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\Functions\ConfigServer.psm1" Name="ConfigServer.psm1" />
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\Functions\Css.psm1" Name="Css.psm1" />
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\Functions\Git.psm1" Name="Git.psm1" />
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\Functions\GlobalList.psm1" Name="GlobalList.psm1" />
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\Functions\ProcessTemplate.psm1" Name="ProcessTemplate.psm1" />
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\Functions\Team.psm1" Name="Team.psm1" />
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\Functions\TeamProject.psm1" Name="TeamProject.psm1" />
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\Functions\WorkItem.psm1" Name="WorkItem.psm1" />
      </Component>
    </DirectoryRef>

    <DirectoryRef Id="ShortcutsFolder">
      <Component Id="ShellShortcut" Guid="{9AB31DDC-700C-42A8-AF73-07FFFDF1BA15}">
        <Shortcut Id="ShellIconShortcut" Name="Team Foundation Server Shell" Target="[System64Folder]\WindowsPowerShell\v1.0\powershell.exe" Directory="ShortcutsFolder"
                  Arguments="-noexit -command &quot;. '[#Startup.ps1]&quot;'" Icon="ProductIcon"/>
        <RemoveFolder Id="RemoveProgramMenuDir" On="uninstall" Directory="ShortcutsFolder"/>
        <RegistryValue Root="HKCU" Key="Software\T-Shooter\TfsCmdlets" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
      </Component>
    </DirectoryRef>

    <!-- Features -->

    <Feature Id="ProductFeature" Title="TfsCmdlets PowerShell Module" Level="1">
      <ComponentRef Id="ShellFiles" />
      <ComponentRef Id="PowerShellModule" />
      <ComponentRef Id="NestedModules" />
      <ComponentRef Id="ShellShortcut" />
    </Feature>

    <InstallExecuteSequence>
      <WriteEnvironmentStrings />
    </InstallExecuteSequence>
    
  </Product>

</Wix>