<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product
    Id="*"
    Name="Team Foundation Server Cmdlets (TfsCmdlets)"
    Language="1033"
    Version="1.0.0.0"
    Manufacturer="Igor Abade V. Leite (T-Shooter)"
    UpgradeCode="66e39e8c-5e29-47ca-b2c0-142978831346">

    <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
    <Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" />

    <!-- UI Settings -->
    <UIRef Id="WixUI_InstallDir"/>

    <!-- Properties -->
    <Property Id="WIXUI_INSTALLDIR" Value="APPLICATIONFOLDER" />
    <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
    <Property Id="COMPANYNAME" Value="T-Shooter" />
    <Property Id="ShortProductName" Value="TfsCmdlets" />
    <WixVariable Id="WixUISupportPerUser" Value="0" />

    <!-- Directories -->
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="COMPANYFOLDER" Name="!(bind.property.COMPANYNAME)">
          <Directory Id="APPLICATIONFOLDER" Name="!(bind.property.ShortProductName)" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
        <Directory Id="ShortcutsFolder" Name="!(bind.property.COMPANYNAME)"/>
      </Directory>
    </Directory>

    <DirectoryRef Id="APPLICATIONFOLDER">
      <Component Id="PowerShellModule" Guid="{CC97272C-92F7-46A5-AB61-5A4588C8D924}">
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\TfsCmdlets.psm1" Name="TfsCmdlets.psm1" KeyPath="yes" />
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\TfsCmdlets.psd1" Name="TfsCmdlets.psd1" KeyPath="yes" />
        <File Source="$(var.TShooter.TfsCmdlets.ProjectDir)\Startup.ps1" Name="Startup.ps1" />
      </Component>
    </DirectoryRef>

    <Component Id="ShellIconComponent" Guid="{9AB31DDC-700C-42A8-AF73-07FFFDF1BA15}" Directory="ShortcutsFolder">
      <Shortcut Id="ShellIconShortcut" Name="Team Foundation Server Shell" Target="[System64Folder]\WindowsPowerShell\v1.0\powershell.exe" Directory="ShortcutsFolder"
                Arguments="-noexit -command &quot;. '[#Startup.ps1]&quot;'"/>
      <RemoveFolder Id="RemoveProgramMenuDir" On="uninstall" Directory="ShortcutsFolder"/>
      <RegistryValue Root="HKCU" Key="Software\T-Shooter\TfsCmdlets" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
    </Component>

    <!-- Features -->
    <Feature Id="ProductFeature" Title="TfsCmdlets PowerShell Module" Level="1">
      <ComponentRef Id="PowerShellModule" />
      <ComponentRef Id="ShellIconComponent" />
    </Feature>

  </Product>

</Wix>