{%- assign bcpath = '/docs/cmdlets' -%}
<nav class="breadcrumb-nav">
    <ol class="breadcrumb-nav-list">
        <li class="breadcrumb-nav-list-item"><a href="/">Home</a></li>
        <li class="breadcrumb-nav-list-item"><a href="/docs/cmdlets">Documentation</a></li>
        {% for b in page.breadcrumbs %}
            {%- capture bcpath -%}{{bcpath}}/{{b}}{%- endcapture -%}
        <li class="breadcrumb-nav-list-item"><a href="{{ bcpath }}">{{ b }}</a></li>
        {% endfor %}
        <li class="breadcrumb-nav-list-item"><span>{{ page.title }}</span></li>
    </ol>
</nav>