{%- capture active -%}{% if include.url == page.url %} active{% endif %}{%- endcapture -%}

<li class="navigation-list-item{{active}}">
    <a href="{{include.url}}" class="navigation-list-link{{active}}">{{include.text}}</a>
    {% if include.recurse %}
    <ul class="navigation-list-child-list">
        {%- assign folder_pages = site.pages | where_exp: "p", "p.layout != 'cmdlet'" | sort: "url" -%}
        {%- for p in folder_pages -%}
            {%- assign entry_url_segments = p.url | split: "/"%}
            {%- assign entry_name = entry_url_segments[-1] -%}
            {%- capture expected_path -%}{{include.url}}{{entry_name}}/{%- endcapture -%}
            {%- if p.url == expected_path -%}
                {% include nav_entry.html url=p.url text=p.title recurse=true %}
            {%- endif -%}
        {%- endfor -%}
    </ul>
    {% endif %}
</li>