<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
      Id="*"
      Name="$(var.PRODUCTNAME)"
      Language="1033"
      Version="$(var.PRODUCTVERSION)"
      Manufacturer="$(var.AUTHOR)"
      UpgradeCode="66e39e8c-5e29-47ca-b2c0-142978831346">

        <Package InstallerVersion="405" Compressed="yes" InstallScope="perMachine" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" />

        <!--Properties-->

        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLDIR" />
        <Property Id="WixAppFolder" Value="WixPerMachineFolder" />
        <WixVariable Id="WixUISupportPerUser" Value="0" />

        <!--UI Settings-->

        <UIRef Id="WixUI_InstallDir"/>
        <Icon Id="ProductIcon" SourceFile="$(var.SourceDir)TfsCmdletsShell.ico"/>

        <!--Dependency detection-->

        <Property Id="POWERSHELLVERSION3" Secure="yes">
            <RegistrySearch Id="PowerShellVersion3Search" Root="HKLM" Key="SOFTWARE\Microsoft\PowerShell\3\PowerShellEngine" Name="PowerShellVersion" Type="raw" />
        </Property>

        <!--Directories-->

        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLDIR" Name="$(var.PRODUCTNAME)">
                    <Directory Id="ModuleFolder" Name="TfsCmdlets" />
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder">
                <Directory Id="ShortcutsFolder" Name="$(var.PRODUCTNAME)"/>
            </Directory>
        </Directory>

        <!--Components-->

        <DirectoryRef Id="INSTALLDIR" FileSource="$(var.SourceDir)">
            <Component Id="SetModulePath" Guid="{CC97272C-1234-46A5-AB61-5A4588C8D924}" KeyPath="yes">
                <Environment Id="Env_ModulePath" Action="set" Name="PSModulePath" Part="last" Separator=";" System="yes" Permanent="no" Value="[INSTALLDIR]"/>
            </Component>
        </DirectoryRef>

        <DirectoryRef Id="ShortcutsFolder">
            <Component Id="ShellShortcut" Guid="{9AB31DDC-700C-42A8-AF73-07FFFDF1BA15}">
                <Shortcut Id="ShellIconShortcut" Name="Team Foundation Server Shell" Target="[System64Folder]\WindowsPowerShell\v1.0\powershell.exe" Directory="ShortcutsFolder"
                          Arguments='-noexit -command "Import-Module TfsCmdlets"' Icon="ProductIcon"/>
                <RemoveFolder Id="RemoveProgramMenuDir" On="uninstall" Directory="ShortcutsFolder"/>
                <RegistryValue Root="HKCU" Key="Software\$(var.AUTHOR)\TfsCmdlets" Name="Installed" Type="integer" Value="1" KeyPath="yes"/>
            </Component>
        </DirectoryRef>

        <!-- Custom Actions -->

        <SetProperty Action="SetxCmdLine0" Id="QtExecCmdLine" Before='CallSetx' Sequence='execute' Value='"setx.exe" TFSCMDLETS 1'>NOT Installed</SetProperty>
        <SetProperty Action="SetxCmdLine1" Id="QtExecCmdLine" Before='CallSetx' Sequence='execute' Value='"setx.exe" TFSCMDLETS ""'>Installed AND NOT UPGRADINGPRODUCTCODE</SetProperty>
        <CustomAction Id="CallSetx" BinaryKey="WixCA" DllEntry="CAQuietExec" Execute="immediate" Return="ignore"/>
        
        <InstallExecuteSequence>
            <Custom Action='CallSetx' After='InstallFinalize' />
        </InstallExecuteSequence>
        
        <!--Features-->

        <Feature Id="ProductFeature" Title="TfsCmdlets PowerShell Module" Level="1">
            <ComponentRef Id="SetModulePath" />
            <ComponentRef Id="ShellShortcut" />
            <ComponentGroupRef Id="ModuleComponent" /> <!-- Auto-generated by Heat -->
        </Feature>

    </Product>

</Wix>