<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs" xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package Name="$(var.PRODUCTNAME)" Language="1033" Version="$(var.PRODUCTVERSION)"
        Manufacturer="$(var.AUTHOR)" UpgradeCode="66e39e8c-5e29-47ca-b2c0-142978831346"
        InstallerVersion="405" Scope="perUser">
        <SummaryInformation Description="$(var.DESCRIPTION)" />
        <MajorUpgrade DowngradeErrorMessage="A newer version of [ProductName] is already installed." />
        <Media Id="1" Cabinet="Setup.cab" EmbedCab="yes" />

        <!--Properties-->

        <Property Id="ARPPRODUCTICON" Value="ProductIcon" />
        <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
        <Property Id="WixAppFolder" Value="WixPerUserFolder" />

        <WixVariable Id="WixUISupportPerUser" Value="1" />
        <WixVariable Id="WixUILicenseRtf" Value="$(var.SourceDir)License.rtf" />
        <WixVariable Id="WixUIDialogBmp" Value="$(var.SourceDir)Wix-01.bmp" />
        <WixVariable Id="WixUIBannerBmp" Value="$(var.SourceDir)Wix-02.bmp" />

        <!--UI Settings-->

        <ui:WixUI Id="WixUI_InstallDir" />
        <Icon Id="ProductIcon" SourceFile="$(var.SourceDir)TfsCmdletsShell.ico" />

        <!--Dependency detection-->

        <Property Id="POWERSHELLVERSION3" Secure="yes">
            <RegistrySearch Id="PowerShellVersion3Search" Root="HKLM"
                Key="SOFTWARE\Microsoft\PowerShell\3\PowerShellEngine" Name="PowerShellVersion"
                Type="raw" />
        </Property>

        <!--Windows Terminal detection-->
        <Property Id="WTPATH" Secure="yes">
            <RegistrySearch Id="WindowsTerminalSearch" Root="HKLM"
                Key="SOFTWARE\Microsoft\Windows\CurrentVersion\App Paths\wt.exe" Name=""
                Type="raw" />
        </Property>

        <!--Directories and Components-->

        <StandardDirectory Id="LocalAppDataFolder">
            <Directory Id="INSTALLFOLDER" Name="$(var.PRODUCTNAME)">
                <Component Id="SetModulePath" Guid="{CC97272C-1234-46A5-AB61-5A4588C8D924}"
                    KeyPath="yes">
                    <Environment Id="Env_ModulePath" Action="set" Name="PSModulePath" Part="last"
                        Separator=";" System="no" Permanent="no" Value="[INSTALLFOLDER]" />
                </Component>
                <Directory Id="ModuleFolder" Name="TfsCmdlets">
                    <Files Include="$(SourceDir)/**" />
                </Directory>
            </Directory>
        </StandardDirectory>
        
        <StandardDirectory Id="ProgramMenuFolder">
            <Directory Id="ShortcutsFolder" Name="$(var.PRODUCTNAME)">
                <!-- Windows Terminal shortcut - only if Windows Terminal is detected -->
                <Component Id="ShellShortcutWT" Guid="{9AB31DDC-700C-42A8-AF73-07FFFDF1BA15}" Condition="WTPATH">
                    <Shortcut Id="ShellIconShortcutWT" Name="Azure DevOps Shell"
                        Target="[WTPATH]"
                        Directory="ShortcutsFolder"
                        Arguments="-p &quot;Azure DevOps Shell (Windows PowerShell)&quot;"
                        Icon="ProductIcon" />
                    <RemoveFolder Id="RemoveProgramMenuDirWT" On="uninstall"
                        Directory="ShortcutsFolder" />
                    <RegistryValue Root="HKCU" Key="Software\$(var.AUTHOR)\TfsCmdlets"
                        Name="Installed"
                        Type="integer" Value="1" KeyPath="yes" />
                </Component>
                
                <!-- PowerShell shortcut - only if Windows Terminal is NOT detected -->
                <Component Id="ShellShortcutPS" Guid="{8AB31DDC-700C-42A8-AF73-07FFFDF1BA16}" Condition="NOT WTPATH">
                    <Shortcut Id="ShellIconShortcutPS" Name="Azure DevOps Shell"
                        Target="[System64Folder]\WindowsPowerShell\v1.0\powershell.exe"
                        Directory="ShortcutsFolder"
                        Arguments="-noexit -command &quot;Import-Module TfsCmdlets -Version '$(var.PRODUCTVERSION)'; Enter-TfsShell&quot;"
                        Icon="ProductIcon" />
                    <RemoveFolder Id="RemoveProgramMenuDirPS" On="uninstall"
                        Directory="ShortcutsFolder" />
                    <RegistryValue Root="HKCU" Key="Software\$(var.AUTHOR)\TfsCmdlets"
                        Name="InstalledPS"
                        Type="integer" Value="1" KeyPath="yes" />
                </Component>
            </Directory>
        </StandardDirectory>

        <!-- Custom Actions -->

        <SetProperty Action="SetxCmdLine0" Id="QtExecCmdLine" Before="CallSetx" Sequence="execute"
            Value="&quot;setx.exe&quot; TFSCMDLETS 1" Condition="NOT Installed" />
        <SetProperty Action="SetxCmdLine1" Id="QtExecCmdLine" Before="CallSetx" Sequence="execute"
            Value="REG delete HKCU\Environment /F /V TFSCMDLETS"
            Condition="Installed AND NOT UPGRADINGPRODUCTCODE" />
        <CustomAction Id="CallSetx" DllEntry="WixQuietExec" Execute="immediate" Return="ignore"
            BinaryRef="Wix4UtilCA_X86" />

        <InstallExecuteSequence>
            <Custom Action="CallSetx" After="InstallFinalize" />
        </InstallExecuteSequence>

    </Package>

</Wix>